body {
    color: #2f80ed;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
  }
  section{
    height: 900px;
  }
  footer{
    margin-bottom: 30px;
  }
  .image{
    margin-top: 110px;
    
  }
  .head{
    width: 420px;
    margin-top: 10px;
    font-size: 130px;
    font-weight: normal;
    margin: auto;
  }
  
  .head:hover .content{
    display: block;
    margin-top: 22px;
  }
  .content{
    display: none;
    width: 420px;
    text-align: center;
    font-size: 18px;
    
  }